<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta content="telephone=no" name="format-detection">
        <title><%= title %></title>
        <link rel='stylesheet' href='/src/css/base.css' />
        <link rel='stylesheet' href='/src/demos/style.css' />
    </head>
    <body>