/* 
* @Author: shunjinchan
* @Date:   2015-12-28 17:08:39
* @Last Modified by:   shunjinchan
* @Last Modified time: 2016-01-03 23:26:25
*/

@import "../_setting.scss";

/* backdrop begin */

.backdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: $zindex-backdrop;
    visibility: hidden;
    opacity: 0;
    transition-duration: 400ms;
    &.visible {
        visibility: visible;
        opacity: 1;
    }
}


/* backdrop end */
