@charset "utf-8";

/**
 * 表单
 * @author: pigsy.chen@vipshop.com
 */

.form {
    .item-title {
        &.label {
            width: 32%;
        }
    }
    // item-input
    .item-input {
        width: 100%;
        margin-top: -12px;
        margin-bottom: -12px;
        input:not([type=checkbox]):not([type=radio]),
        textarea,
        select {
            width: 100%;
            display: block;
            -webkit-appearance: none;
            border: 0;
            outline: none;
            padding: 0 0 0 5px;
            background: none;
            border-radius: 0 0 0 0;
            box-shadow: none;
        }
        textarea {
            height: 84px;
            resize: none;
            line-height: 1.4;
            margin-top: 8px;
            margin-bottom: 8px;
        }
        + .item-right {
            padding: 0 5px 0 20px;
            font-size: 16px;
            text-align: center;
        }
    }
}


/* switch */

.switch {
    position: absolute;
    font-size: 16px;
    /*no*/
    right: 15px;
    /*no*/
    width: 52px;
    /*no*/
    height: 32px;
    /*no*/
    line-height: 32px;
    /*no*/
    @include center-translate(y);
    input {
        width: 52px;
        /*no*/
        height: 32px;
        /*no*/
        position: absolute;
        z-index: 2;
        border: 0;
        background: 0 0;
        outline: 0;
    }
    input:before {
        content: '';
        width: 50px;
        /*no*/
        height: 30px;
        /*no*/
        border: 1px solid #dfdfdf;
        /*no*/
        background-color: #fdfdfd;
        border-radius: 20px;
        /*no*/
        cursor: pointer;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        border-color: #dfdfdf;
        -webkit-box-shadow: #dfdfdf 0 0 0 0 inset;
        box-shadow: #dfdfdf 0 0 0 0 inset;
        -webkit-transition: border .4s, -webkit-box-shadow .4s;
        transition: border .4s, box-shadow .4s;
        -webkit-background-clip: content-box;
        background-clip: content-box;
    }
    input:checked:before {
        border-color: #64bd63;
        -webkit-box-shadow: #64bd63 0 0 0 16px inset;
        box-shadow: #64bd63 0 0 0 16px inset;
        background-color: #64bd63;
        transition: border .4s, box-shadow .4s, background-color 1.2s;
        -webkit-transition: border .4s, -webkit-box-shadow .4s, background-color 1.2s;
        background-color: #64bd63;
    }
    input:checked:after {
        left: 21px;
        /*no*/
    }
    input:after {
        content: '';
        width: 30px;
        /*no*/
        height: 30px;
        /*no*/
        position: absolute;
        top: 1px;
        /*no*/
        left: 0;
        border-radius: 100%;
        background-color: #fff;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        /*no*/
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        /*no*/
        -webkit-transition: left .2s;
        transition: left .2s;
    }
}