/* 
* @Author: shunjinchan
* @Date:   2015-12-27 17:37:48
* @Last Modified by:   shunjinchan
* @Last Modified time: 2016-01-25 22:22:45
*/

@import "../_setting.scss";

$headerHeight: 0.88rem;
$headerBgColor: #fbfbfa;

.header {
    height: $headerHeight;
    line-height: $headerHeight;
    overflow: hidden;
    font-size: 0.28rem;
    background-color: $headerBgColor;
    text-align: center;
    @include border(bottom, $color-border);
}

.header-title {
    display: inline-block;
    height: $headerHeight;
    > h1 {
        font-size: 0.36rem;
        font-weight: normal;
        display: inline;
    }
    > sub {
        font-size: 0.26rem;
        vertical-align: baseline;
        color: #98989f;
    }
}

.header-left,
.header-right {
    height: $headerHeight;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header-left-button,
.header-right-button {
    display: block;
    padding: 0 0.3rem;
    height: 100%;
    font-size: 0.32rem;
    &:active {
        opacity: 0.3;
    }
    .iconfont {
        font-size: 0.48rem;
    }
}

.header.fixed-top ~ .page {
    padding-top: $headerHeight;
}
