/* 
* @Author: shunjinchan
* @Date:   2016-01-21 13:19:44
* @Last Modified by:   shunjinchan
* @Last Modified time: 2016-01-23 15:22:27
* 列表
*/

@import "../_setting.scss";
$listHeight: 24px;
$listPadding: 12px 15px;
.list {
    position: relative;
    margin-top: 20px;
    .list-header {
        padding: 0 10px;
        line-height: 32px;
    }
    // list-item
    .list-item {
        width: 100%;
        overflow-x: hidden;
        list-style-type: none;
        font-weight: normal;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        + .list-item {
            position: relative;
        }
        &:not(:last-child) {
            .item-inner {
                @include border(bottom);
            }
        }
        .item-title-row {
            display: flex;
            justify-content: space-between;
        }
        .item-subtitle {
            font-size: 14px;
        }
        .item-text {
            font-size: 14px;
            color: #5f646e;
            position: relative;
            @include ellipsis-line(2);
        }
        // arrow
        &.more,
        &.unfold,
        &.fold {
            position: relative;
            &:active {
                background-color: rgba(0, 0, 0, 0.1);
            }
            .item-inner {
                padding-right: 36px;
            }
            &::after {
                font-family: "iconfont" !important;
                font-size: 20px;
                font-style: normal;
                -webkit-font-smoothing: antialiased;
                -webkit-text-stroke-width: 0.2px;
                /*no*/
                -moz-osx-font-smoothing: grayscale;
                right: 9px;
                color: #9b9b9b;
                @include center-translate(y);
            }
        }
        &.more::after {
            content: "\e654";
        }
        &.unfold::after {
            content: "\e64f";
        }
        &.fold::after {
            content: "\e643";
        }
        // media
        &.media {
            .item-left {
                padding-top: 10px;
                padding-bottom: 10px;
                img {
                    display: block;
                }
            }
            .item-inner {
                align-self: stretch;
                display: block;
            }
        }
        // checkbox，&radio
        &.checkbox,
        &.radio {
            .item-inner {
                align-self: stretch;
                display: block;
            }
            input[type="radio"],
            input[type="checkbox"] {
                display: none;
            }
            input[type="radio"] {
                &:checked + .item-left .icon-round {
                    color: #4cd964;
                }
                &:checked + .item-left .icon-round::before {
                    content: "\e60a";
                }
            }
            input[type="checkbox"] {
                &:checked + .item-left .icon-round {
                    color: #4cd964;
                }
                &:checked + .item-left .icon-round::before {
                    content: "\e60c";
                }
            }
            .icon-round {
                font-size: 24px;
                color: #ccc;
            }
        }
    }
    // item-content
    .item-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
        line-height: 24px;
        @include clearfix();
    }
    // item-right
    .item-right {
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 5px;
        display: flex;
        max-height: 0.48rem;
    }
    // item-inner
    .item-inner {
        padding: 12px 15px 12px 0;
        min-height: 24px;
        width: 100%;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        box-flex: 1;
        justify-content: space-between;
        align-items: center;
    }
    // item-title
    .item-title {
        flex-shrink: 1;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        font-size: 16px;
    }
    // item-left
    .item-left {
        display: flex;
        flex-shrink: 0;
        box-lines: single;
        flex-wrap: nowrap;
        box-sizing: border-box;
        align-items: center;
        & + .item-inner {
            margin-left: 10px;
        }
    }
}

// list-item-title
// .list-item-title {
//     padding-top: 8px;
//     padding-bottom: 8px;
//     line-height: 16px;
//     padding-left: 15px;
//     padding-right: 15px;
//     font-size: 14px;
//     background-color: #fff;
//     h2,
//     h3 {
//         line-height: 16px;
//         padding: 0 10px;
//         position: relative;
//         float: left;
//         border-left: 3px solid #e4007f;
//         font-weight: normal;
//         color: #222;
//     }
//     .item-right {
//         color: #98989f;
//     }
//     @include clearfix();
//     @include border(bottom);
// }
