/*
* @Author: shunjinchan
* @Date:   2016-01-21 13:19:44
* @Last Modified by:   pigsy.chen
* @Last Modified time: 2016-04-15 14:35:03
* 列表
*/

@import "../_setting.scss";

$list-height:                     0.4rem;
$list-padding-landscape:          0.3rem; // padding-left, padding-right
$list-padding-portrait:           0.24rem; // padding-top, padding-bottom
$list-margin:                     0.4rem 0;
$color-checkbox:                  #64bd63;

.list {
    position: relative;
    margin: $list-margin;
    .list-header {
        padding: 0 $list-padding-landscape;
        line-height: 0.64rem;
    }
    .list-footer {
        padding: 0 $list-padding-landscape;
        line-height: 0.36rem;
        margin-top: 0.14rem;
    }
    // list-item
    .list-item {
        width: 100%;
        overflow-x: hidden;
        list-style-type: none;
        font-weight: normal;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        + .list-item {
            position: relative;
        }
        &.align-top {
            .item-content, .item-inner {
                align-items: flex-start;
            }
        }
        &:not(:last-child) {
            .item-inner {
                @include border(bottom);
            }
        }
        .item-title-row {
            display: flex;
            justify-content: space-between;
        }
        .item-subtitle {
            font-size: 0.28rem;
        }
        .item-text {
            font-size: 0.28rem;
            color: $color-text-secondary;
            position: relative;
            @include ellipsis-line(2);
        }
        &.disabled {
            color: #ccc;
            .item-content, .item-inner, .item-label, .item-input, .select {
                color: #ccc !important;
            }
            &::after {
                color: #ccc !important;
            }
        }
        // arrow
        &.more,
        &.unfold,
        &.fold {
            position: relative;
            &:active {
                background-color: rgba(0, 0, 0, 0.1);
            }
            .item-inner {
                padding-right: 0.72rem;
            }
            &::after {
                font-family: "iconfont" !important;
                font-size: 0.32rem;
                font-style: normal;
                -webkit-font-smoothing: antialiased;
                -webkit-text-stroke-width: 0.2px;
                /*no*/
                -moz-osx-font-smoothing: grayscale;
                right: 0.18rem;
                color: $color-text-gray;
                @include center-translate(y);
            }
        }
        &.more::after {
            content: "\e654";
        }
        &.unfold::after {
            content: "\e64f";
        }
        &.fold::after {
            content: "\e643";
        }
        // media
        &.media {
            .item-left {
                padding-top: 0.2rem;
                padding-bottom: 0.2rem;
                img {
                    display: block;
                }
            }
            .item-inner {
                align-self: stretch;
                display: block;
            }
        }
        // checkbox，&radio
        &.checkbox,
        &.radio {
            .item-inner {
                align-self: stretch;
                display: block;
            }
            input[type="radio"],
            input[type="checkbox"] {
                display: none;
            }
            input[type="radio"] {
                &:checked + .item-left .icon-round {
                    color: $color-checkbox;
                }
                &:checked + .item-left .icon-round::before {
                    content: "\e60a";
                }
            }
            input[type="checkbox"] {
                &:checked + .item-left .icon-round {
                    color: $color-checkbox;
                }
                &:checked + .item-left .icon-round::before {
                    content: "\e60c";
                }
            }
            .icon-round {
                font-size: 0.48rem;
                color: $color-text-gray;
            }
        }
    }
    // item-content
    .item-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: $list-padding-landscape;
        line-height: $list-height;
        @include clearfix();
    }
    // item-right
    .item-right {
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.1rem;
    }
    // item-inner
    .item-inner {
        padding: $list-padding-portrait $list-padding-landscape $list-padding-portrait 0;
        min-height: $list-height;
        width: 100%;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
    }
    // item-title
    .item-title {
        flex-shrink: 1;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        font-size: 0.32rem;
    }
    // item-left
    .item-left {
        display: flex;
        flex-shrink: 0;
        box-lines: single;
        flex-wrap: nowrap;
        box-sizing: border-box;
        align-items: center;
        & + .item-inner {
            margin-left: 0.2rem;
        }
    }
}

// list-item-title
// .list-item-title {
//     padding-top: 8px;
//     padding-bottom: 8px;
//     line-height: 16px;
//     padding-left: 15px;
//     padding-right: 15px;
//     font-size: 14px;
//     background-color: #fff;
//     h2,
//     h3 {
//         line-height: 16px;
//         padding: 0 10px;
//         position: relative;
//         float: left;
//         border-left: 3px solid $color-primary;
//         font-weight: normal;
//         color: #222;
//     }
//     .item-right {
//         color: #98989f;
//     }
//     @include clearfix();
//     @include border(bottom);
// }
