@charset "utf-8";

/**
 * 骨架
 * @author: pigsy.chen@vipshop.com
 */

.top-bar,
.bottom-bar {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fafafa;
    height: 44px;
    line-height: 44px;
}

.top-bar {
    top: 0;
}

.bottom-bar {
    bottom: 0;
}

.top-bar ~ .page > .page-container {
    top: 44px;
}

.bottom-bar ~ .page > .page-container {
    bottom: 44px;
}
