/* 
* @Author: shunjinchan
* @Date:   2016-01-02 22:47:28
* @Last Modified by:   shunjinchan
* @Last Modified time: 2016-01-24 00:09:20
*/

.top-bar,
.tab-bar {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fafafa;
    height: 44px;
    line-height: 44px;
}

.top-bar {
    top: 0;
}

.tab-bar {
    bottom: 0;
}

.top-bar ~ .page > .page-container {
    top: 44px;
}

.tab-bar ~ .page > .page-container {
    bottom: 44px;
}
