/* 
* @Author: shunjinchan
* @Date:   2016-01-02 22:47:28
* @Last Modified by:   shunjinchan
* @Last Modified time: 2016-01-25 22:23:43
*/

$bar-height:                   0.88rem;

.top-bar,
.tab-bar {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fafafa;
    height: $bar-height;
    line-height: $bar-height;
    z-index: $zindex-navbar-fixed;
}

.top-bar {
    top: 0;
}

.tab-bar {
    bottom: 0;
}

.top-bar ~ .page > .page-container {
    top: $bar-height;
}

.tab-bar ~ .page > .page-container {
    bottom: $bar-height;
}
