@charset "utf-8";

/**
 * utilities，通用功能类
 * @author: pigsy.chen@vipshop.com
 */

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pull-right {
    float: right;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.single-line {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.highlight {
    color: #e4007f;
}

.fixed-top,
.fixed-bottom {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.fixed-top {
    top: 0;
}

.fixed-bottom {
    bottom: 0;
}

.highlight {
    color: #e80080;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}
