<!DOCTYPE html>
<html>
  <head>
    <% include ./includes/head.ejs %>
    <title><%= title %></title>
    <link rel='stylesheet' href='src/css/base.css' />
  </head>
  <body>
    <% include ./modules/index/header.ejs %>

    <div class="page">
        <div class="page-container">
            <h2>例子</h2>

            <div class="list">
                <ul>
                    <li class="list-item border-b">
                        <a href="src/demos/popup.html" title="" data-toggle="route" data-action="load">弹窗</a>
                    </li>
                    <li class="list-item border-b">
                        <a href="src/demos/tab.html" title="" data-toggle="route" data-action="load">tab 切换</a>
                    </li>
                    <li class="list-item border-b">
                        <a href="src/demos/list.html" title="" data-toggle="route" data-action="load">列表</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <% include ./modules/index/bottom-bar.ejs %>
    <script src="assets/bundle.js"></script>

  </body>
</html>
