<!DOCTYPE html>
<html>
  <head>
    <% include ./includes/head.ejs %>
    <title><%= title %></title>
    <link rel='stylesheet' href='src/css/base.css' />
    <link rel='stylesheet' href='src/demos/style.css' />
  </head>
  <body>
    <% include ./modules/index/header.ejs %>
    <% include ./modules/index/tab-bar.ejs %>

    <div class="page page-current">
        <div class="page-container">
            <div class="list">
                <h2 class="list-header">例子</h2>
                <ul>
                    <li class="list-item more">
                        <a href="src/demos/popup.html" class="item-content" title="" data-toggle="route" data-action="load">
                            <div class="item-inner">
                                <p class="item-title">弹窗</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-item more">
                        <a href="src/demos/dialog.html" class="item-content" title="" data-toggle="route" data-action="load">
                            <div class="item-inner">
                                <p class="item-title">对话框</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-item more">
                        <a href="src/demos/loader.html" class="item-content" title="" data-toggle="route" data-action="load">
                            <div class="item-inner">
                                <p class="item-title">loader</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-item more">
                        <a href="src/demos/toast.html" class="item-content" title="" data-toggle="route" data-action="load">
                            <div class="item-inner">
                                <p class="item-title">toast</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-item more">
                        <a href="src/demos/tab.html" class="item-content" title="" data-toggle="route" data-action="load">
                            <div class="item-inner">
                                <p class="item-title">tab 切换</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-item more">
                        <a href="src/demos/swiper.html" class="item-content" title="" data-toggle="route" data-action="load">
                            <div class="item-inner">
                                <p class="item-title">swiper 切换</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-item more">
                        <a href="src/demos/list.html" class="item-content" title="" data-toggle="route" data-action="load">
                            <div class="item-inner">
                                <p class="item-title">列表</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-item more">
                        <a href="src/demos/icon.html" class="item-content" title="" data-toggle="route" data-action="load">
                            <div class="item-inner">
                                <p class="item-title">iconfont</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="assets/bundle.js"></script>

  </body>
</html>
