<% include ../includes/head.ejs %>
<% include ../modules/demos/header.ejs %>

<div class="page page-current" id='page-dialog'>
    <div class="page-container">
        <div class="page-content">
            <div class="demo">
                <div class="open-alert">alert</div>
                <div class="open-confirm">confirm</div>
                <div class="open-prompt">prompt</div>
                <div class="open-password">password</div>
                <div class="open-login">login</div>
                <div class="open-register">register</div>
                <div class="open-dialog-vertical">竖排按钮</div>
                <div class="open-actionSheet">actionSheet</div>
            </div>
        </div>
    </div>
</div>

<% include ../includes/footer.ejs %>
