<% include ../includes/head.ejs %>
<% include ../modules/demos/header.ejs %>

<div class="page page-current" id='page-form'>
    <div class="page-container">
        <div class="page-content">
            <div class="list form">
                <div class="list-header">表单输入</div>
                <ul>
                    <li class="list-item">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">用户名</div>
                                <div class="item-input">
                                    <input type="text" placeholder="用户名">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">邮箱</div>
                                <div class="item-input">
                                    <input type="email" placeholder="邮箱">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">密码</div>
                                <div class="item-input">
                                    <input type="password" placeholder="密码">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="password" placeholder="验证码">
                                </div>
                                <div class="item-right border-l">验证码</div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">身份证号码</div>
                                <div class="item-input">
                                    <input type="text" placeholder="身份证号码">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item more">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">收货时间</div>
                                <div class="item-input">
                                    <select name="">
                                        <option value="">都成</option>
                                        <option value="">周末</option>
                                        <option value="">周一至周五</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">开关</div>
                                <div class="item-right">
                                    <label class="switch">
                                        <input type="checkbox" checked>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item more disabled">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">收货时间</div>
                                <div class="item-input">
                                    <select name="" disabled>
                                        <option value="">禁用状态</option>
                                        <option value="">周末</option>
                                        <option value="">周一至周五</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item align-top">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">详细地址</div>
                                <div class="item-input">
                                    <textarea name=""></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<% include ../includes/footer.ejs %>
