<% include ../includes/head.ejs %>
<% include ../modules/demos/header.ejs %>

<div class="page page-current" id='page-list'>
    <div class="page-container">
        <div class="page-content">
            <!-- 文字列表 -->
            <div class="list">
                <div class="list-header">文字列表</div>
                <ul>
                    <li class="list-item">
                        <a href="" class="item-content">
                            <div class="item-inner">
                                <p class="item-title">床前明月光，疑是地上霜，举头望明月，低头思故乡</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="" class="item-content">
                            <div class="item-inner">
                                <p class="item-title">单行截断文字列表文字列表文字列表文字列表文字列表文字列表文字列表文字列表文字列表</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="" class="item-content">
                            <div class="item-inner">
                                <p class="item-title">床前明月光，疑是地上霜，举头望明月，低头思故乡</p>
                                <span class="item-right">右侧文字</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="list-footer">列表尾部，多用于对列表补充说明列表尾部，多用于对列表补充说明列表尾部，多用于对列表补充说明</div>
            </div>
            <!-- 多种布局文字列表 -->
            <div class="list">
                <div class="list-header">多种结构布局</div>
                <ul>
                    <li class="list-item">
                        <a href="" class="item-content">
                            <div class="item-left">
                                <i class="iconfont icon-gold"></i>
                            </div>
                            <div class="item-inner">
                                <p class="item-title">左侧图标</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="" class="item-content">
                            <div class="item-left">
                                <i class="iconfont icon-gold"></i>
                            </div>
                            <div class="item-inner">
                                <p class="item-title">左侧有图标的列表</p>
                                <span class="item-right">右侧文字</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-item more">
                        <a href="" class="item-content">
                            <div class="item-inner">
                                <p class="item-title">床前明月光，疑是地上霜，举头望明月，低头思故乡</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-item fold">
                        <a href="" class="item-content">
                            <div class="item-inner">
                                <p class="item-title">床前明月光，疑是地上霜，举头望明月，低头思故乡</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-item unfold">
                        <a href="" class="item-content">
                            <div class="item-inner">
                                <p class="item-title">床前明月光，疑是地上霜，举头望明月，低头思故乡</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- media纯文本列表 -->
            <div class="list">
                <div class="list-header">media纯文本列表</div>
                <ul>
                    <li class="list-item media">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">media</div>
                                    <div class="item-right">¥ 100</div>
                                </div>
                                <div class="item-subtitle">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                                <div class="item-text">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item media more">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">media</div>
                                </div>
                                <div class="item-subtitle">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                                <div class="item-text">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- media 文本图片列表 -->
            <div class="list">
                <div class="list-header">media 文本图片列表</div>
                <ul>
                    <li class="list-item media">
                        <div class="item-content">
                            <div class="item-left">
                                <img src="http://holdit.sinaapp.com/100x100/100x100/666/ccc" alt="" width="50px">
                            </div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">media</div>
                                    <div class="item-right">¥ 100</div>
                                </div>
                                <div class="item-subtitle">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item media more">
                        <div class="item-content">
                            <div class="item-left">
                                <img src="http://holdit.sinaapp.com/100x100/100x100/666/ccc" alt="" width="50px">
                            </div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">media</div>
                                </div>
                                <div class="item-subtitle">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- 可选择列表 -->
            <div class="list">
                <div class="list-header">单选列表</div>
                <ul>
                    <li class="list-item radio">
                        <div class="item-content">
                            <input type="radio" name="radio1">
                            <div class="item-left"><i class="iconfont icon-round"></i></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">radio</div>
                                </div>
                                <div class="item-subtitle">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                                <div class="item-text">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item radio">
                        <div class="item-content">
                            <input type="radio" name="radio1" checked>
                            <div class="item-left"><i class="iconfont icon-round"></i></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">radio</div>
                                </div>
                                <div class="item-subtitle">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                                <div class="item-text">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list">
                <div class="list-header">单选列表</div>
                <ul>
                    <li class="list-item radio">
                        <div class="item-content">
                            <input type="radio" name="radio2">
                            <div class="item-left"><i class="iconfont icon-round"></i></div>
                            <div class="item-inner">
                                <div class="item-title">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item radio">
                        <div class="item-content">
                            <input type="radio" name="radio2" checked>
                            <div class="item-left"><i class="iconfont icon-round"></i></div>
                            <div class="item-inner">
                                <div class="item-title">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item radio">
                        <div class="item-content">
                            <input type="radio" name="radio2">
                            <div class="item-left"><i class="iconfont icon-round"></i></div>
                            <div class="item-inner">
                                <div class="item-title">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list">
                <div class="list-header">多选列表</div>
                <ul>
                    <li class="list-item checkbox">
                        <div class="item-content">
                            <input type="checkbox" name="checkbox1">
                            <div class="item-left"><i class="iconfont icon-round"></i></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">checkobox</div>
                                </div>
                                <div class="item-subtitle">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                                <div class="item-text">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item checkbox">
                        <div class="item-content">
                            <input type="checkbox" name="checkbox1" checked>
                            <div class="item-left"><i class="iconfont icon-round"></i></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">checkbox</div>
                                </div>
                                <div class="item-subtitle">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                                <div class="item-text">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item checkbox">
                        <div class="item-content">
                            <input type="checkbox" name="checkbox1" checked>
                            <div class="item-left"><i class="iconfont icon-round"></i></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">checkbox</div>
                                    <div class="item-right">$100</div>
                                </div>
                                <div class="item-subtitle">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                                <div class="item-text">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list">
                <div class="list-header">多选列表</div>
                <ul>
                    <li class="list-item checkbox">
                        <div class="item-content">
                            <input type="checkbox" name="checkbox2">
                            <div class="item-left"><i class="iconfont icon-round"></i></div>
                            <div class="item-inner">
                                <div class="item-title">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item checkbox">
                        <div class="item-content">
                            <input type="checkbox" name="checkbox2" checked>
                            <div class="item-left"><i class="iconfont icon-round"></i></div>
                            <div class="item-inner">
                                <div class="item-title">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item checkbox">
                        <div class="item-content">
                            <input type="checkbox" name="checkbox2" checked>
                            <div class="item-left"><i class="iconfont icon-round"></i></div>
                            <div class="item-inner">
                                <div class="item-title">床前明月光，疑是地上霜，举头望明月，低头思故乡</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<% include ../includes/footer.ejs %>
