<% include ../includes/head.ejs %>
<% include ../modules/demos/header.ejs %>

<div class="page page-current" id='page-tab'>
    <div class="page-container">
        <div class="page-content">
            <div class="tab">
                <div class="tab-title buttons-row">
                    <a href="javascript:;" data-target="#pane1" class="button active">按钮 1</a>
                    <a href="javascript:;" data-target="#pane2" class="button">按钮 2</a>
                    <a href="javascript:;" data-target="#pane3" class="button">按钮 3</a>
                </div>
                <div class="tab-content">
                    <div id="pane1" class="tab-content-pane active">1</div>
                    <div id="pane2" class="tab-content-pane">2</div>
                    <div id="pane3" class="tab-content-pane">3</div>
                </div>
            </div>


            <div class="tab">
                <div class="tab-title buttons-tab">
                    <a href="javascript:;" data-target="#pane1" class="button active">按钮 1</a>
                    <a href="javascript:;" data-target="#pane2" class="button">按钮 2</a>
                    <a href="javascript:;" data-target="#pane3" class="button">按钮 3</a>
                </div>
                <div class="tab-content">
                    <div id="pane1" class="tab-content-pane active">1</div>
                    <div id="pane2" class="tab-content-pane">2</div>
                    <div id="pane3" class="tab-content-pane">3</div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../includes/footer.ejs %>
