<div class="page page-current" id='page-tab'>
    <header class="header top-bar border-b">
        <div class="header-left">
            <a href="" class="header-left-button" data-toggle="route" data-action="back">返回</a>
        </div>
    </header>
    <div class="page-container">
        <div class="page-content">
            <div class="tab tab-default">
                <div class="tab-title">
                    <a href="javascript:;" data-target="#pane1" class="tab-title-item active">切换1</a>
                    <a href="javascript:;" data-target="#pane2" class="tab-title-item">切换2</a>
                    <a href="javascript:;" data-target="#pane3" class="tab-title-item">切换3</a>
                </div>
                <div class="tab-content">
                    <div id="pane1" class="tab-content-pane active">1</div>
                    <div id="pane2" class="tab-content-pane">2</div>
                    <div id="pane3" class="tab-content-pane">3</div>
                </div>
            </div>


            <div class="tab tab-border">
                <div class="tab-title">
                    <a href="javascript:;" data-target="#pane1" class="tab-title-item active">切换1</a>
                    <a href="javascript:;" data-target="#pane2" class="tab-title-item">切换2</a>
                    <a href="javascript:;" data-target="#pane3" class="tab-title-item">切换3</a>
                </div>
                <div class="tab-content">
                    <div id="pane1" class="tab-content-pane active">1</div>
                    <div id="pane2" class="tab-content-pane">2</div>
                    <div id="pane3" class="tab-content-pane">3</div>
                </div>
            </div>
        </div>
    </div>
</div>
