<% include ../includes/head.ejs %>
<% include ../modules/demos/header.ejs %>

<div class="page page-current" id='page-tab'>
    <div class="page-container">
        <div class="page-content">
            <div class="tab tab-default">
                <div class="tab-title">
                    <a href="javascript:;" data-target="#pane1" class="tab-title-item active">切换1</a>
                    <a href="javascript:;" data-target="#pane2" class="tab-title-item">切换2</a>
                    <a href="javascript:;" data-target="#pane3" class="tab-title-item">切换3</a>
                </div>
                <div class="tab-content">
                    <div id="pane1" class="tab-content-pane active">1</div>
                    <div id="pane2" class="tab-content-pane">2</div>
                    <div id="pane3" class="tab-content-pane">3</div>
                </div>
            </div>


            <div class="tab tab-border">
                <div class="tab-title">
                    <a href="javascript:;" data-target="#pane1" class="tab-title-item active">切换1</a>
                    <a href="javascript:;" data-target="#pane2" class="tab-title-item">切换2</a>
                    <a href="javascript:;" data-target="#pane3" class="tab-title-item">切换3</a>
                </div>
                <div class="tab-content">
                    <div id="pane1" class="tab-content-pane active">1</div>
                    <div id="pane2" class="tab-content-pane">2</div>
                    <div id="pane3" class="tab-content-pane">3</div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../includes/footer.ejs %>
