<div class="page page-current" id='page-toast'>
    <header class="header top-bar border-b">
        <div class="header-left">
            <a href="" class="header-left-button" data-toggle="route" data-action="back">返回</a>
        </div>
    </header>
    <div class="page-container">
        <div class="page-content">
            <div class="demo">
                <div class="open-toast">toast</div>
                <div class="open-toast2">toast2</div>
            </div>
        </div>
    </div>
</div>

