/* 
* @Author: shunjinchan
* @Date:   2016-01-02 23:57:49
* @Last Modified by:   shunjinchan
* @Last Modified time: 2016-01-25 22:53:52
*/

@charset "utf-8";
@import "../_setting.scss";

$loader-padding:             0.2rem;
$loader-radius:              0.08rem;
$loader-bg-color:            rgba(0, 0, 0, 0.8);

/* loader begin */

.loader-container {
    padding: $loader-padding;
    background-color: $loader-bg-color;
    text-align: center;
    line-height: 1;
    border-radius: $loader-radius;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: $zindex-loader;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(1.185);
    transform: translate3d(0, 0, 0) scale(1.185);
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;

    &.transition-in {
        opacity: 1;
        -webkit-transition-duration: 400ms;
        transition-duration: 400ms;
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        transform: translate3d(0, 0, 0) scale(1);
    }
    &.transition-out {
        opacity: 0;
        -webkit-transition-duration: 400ms;
        transition-duration: 400ms;
        -webkit-transform: translate3d(0, 0, 0) scale(0.815);
        transform: translate3d(0, 0, 0) scale(0.815);
    }
}

.loader-title {
    color: #fff;
    font-size: 0.28rem;
    margin: 0.2rem 0 0.1rem 0;
    padding: 0 0.4rem;
}

/* loader end */
