/* 
* @Author: shunjinchan
* @Date:   2015-12-29 00:58:41
* @Last Modified by:   shunjinchan
* @Last Modified time: 2015-12-30 23:50:16
*/

@charset "utf-8";

.modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 270px;
    background-color: #fff;
    z-index: 1060;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: none;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.modal.show {
    visibility: visible;
}
.modal.show .dialog, .modal.show .toast {
    -webkit-animation-name: superScaleIn;
    animation-name: superScaleIn;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes superScaleIn {
    from {
        -webkit-transform: scale(1.2);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@keyframes superScaleIn {
    from {
        transform: scale(1.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
