/* 
* @Author: shunjinchan
* @Date:   2015-12-30 23:40:12
* @Last Modified by:   shunjinchan
* @Last Modified time: 2016-01-25 13:02:37
*/

@charset "utf-8";
@import "../_setting.scss";

$popup-header-height:              44px;
$popup-footer-height:              44px;

/* popup begin */

.popup {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: $zindex-popup;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #f3f4f5;
}

.popup.from-top {
    /* 顶部滑入动画 */
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    &.transition-in,
    &.transition-out {
        -webkit-transition-duration: 400ms;
        transition-duration: 400ms;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transition-timing-function: cubic-bezier(.175, .885, .32, 1.1);
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.1);
    }
    &.transition-in {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    &.transition-out {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.popup.from-bottom {
    /* 底部滑入动画 */
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    &.transition-in,
    &.transition-out {
        -webkit-transition-duration: 400ms;
        transition-duration: 400ms;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    &.transition-in {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    &.transition-out {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.popup.from-left {
    /* 从左向右滑入动画 */
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    &.transition-in,
    &.transition-out {
        -webkit-transition-duration: 400ms;
        transition-duration: 400ms;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    &.transition-in {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    &.transition-out {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.popup.from-right {
    /* 从左向右滑入动画 */
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    &.transition-in,
    &.transition-out {
        -webkit-transition-duration: 400ms;
        transition-duration: 400ms;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    &.transition-in {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    &.transition-out {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.popup-body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 10px;
}

.popup-header {
    height: $popup-header-height;
    line-height: $popup-header-height;
    position: relative;
    background-color: #fbfbfa;
    &.top-bar {
        position: absolute;
        & ~ .popup-body {
            top: $popup-header-height;
        }
    }
    .close {
        position: absolute;
        height: $popup-header-height;
        width: $popup-header-height;
        line-height: $popup-header-height;
        right: 5px;
        top: 0;
        font-family: "iconfont";
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
        font-size: 24px;
        text-align: center;
        color: #585c64;
    }
    .close::before {
        content: "\e604";
    }
    .close:active {
        color: #ccc;
    }
}

.popup-title {
    line-height: 24px;
    padding: 10px 50px 10px 15px;
    @include ellipsis();
}

.popup-footer {
    height: $popup-footer-height;
    line-height: $popup-footer-height;
    text-align: center;
    background-color: #fff;
    &.bottom-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        ~ .popup-body {
            bottom: $popup-footer-height;
        }
    }
}


/* popup end */
