/* 
* @Author: shunjinchan
* @Date:   2015-12-30 23:47:50
* @Last Modified by:   shunjinchan
* @Last Modified time: 2016-01-25 00:45:09
*/

@import "../_setting.scss";


.tab-content {}

.tab-content-pane {
    width: 100%;
    display: none;
    &.active {
        display: block;
    }
}
