/* 
* @Author: shunjinchan
* @Date:   2015-12-27 17:37:48
* @Last Modified by:   shunjinchan
* @Last Modified time: 2016-01-25 22:56:56
*/

@charset "utf-8";
@import "../_setting.scss";

$toast-padding:                0.2rem 0.4rem;
$toast-radius:                 0.08rem;
$toast-max-width:              4.0rem;
$toast-color:                  #fff;
$toast-bg-color:               rgba(0, 0, 0, 0.85);

// theme white
$toast-white-color:            $color-text;
$toast-white-bg-color:         rgba(255, 255, 255, 0.95);

/* toast begin */

.toast {
    background-color: $toast-bg-color;
    color: $toast-color;
    text-align: center;
    border-radius: $toast-radius;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: $zindex-toast;
    padding: $toast-padding;
    max-width: $toast-max-width;
    width: auto;
    opacity: 0;

    -webkit-transform: translate3d(0, 0, 0) scale(1.185);
    transform: translate3d(0, 0, 0) scale(1.185);
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;

    &.transition-in {
        opacity: 1;
        -webkit-transition-duration: 400ms;
        transition-duration: 400ms;
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        transform: translate3d(0, 0, 0) scale(1);
    }
    &.transition-out {
        opacity: 0;
        -webkit-transition-duration: 400ms;
        transition-duration: 400ms;
        -webkit-transform: translate3d(0, 0, 0) scale(0.815);
        transform: translate3d(0, 0, 0) scale(0.815);
    }
}

.toast-title {
    font-weight: normal;
    font-size: 0.28rem;
}

.toast-body {
    font-size: 0.24rem;
    margin-top: 0.1rem;
}

.tosat.toast-white {
    color: $toast-white-color;
    background-color: $toast-white-bg-color;
}


/* toast end */
