<div class="bottom-bar border-t">
    <a class="bottom-bar-button" href="">按钮</a>
    <a class="bottom-bar-button" href="">按钮</a>
    <a class="bottom-bar-button" href="">按钮</a>
    <a class="bottom-bar-button" href="">按钮</a>
    <a class="bottom-bar-button" href="">按钮</a>
</div>