<div class="tab-bar">
    <a class="tab-bar-button" href="">按钮</a>
    <a class="tab-bar-button" href="">按钮</a>
    <a class="tab-bar-button" href="">按钮</a>
    <a class="tab-bar-button" href="">按钮</a>
    <a class="tab-bar-button" href="">按钮</a>
</div>