<div class="tab-bar border-t">
    <a class="tab-bar-button" href="">按钮</a>
    <a class="tab-bar-button" href="">按钮</a>
    <a class="tab-bar-button" href="">按钮</a>
    <a class="tab-bar-button" href="">按钮</a>
    <a class="tab-bar-button" href="">按钮</a>
</div>