/*
* @Author: shunjinchan
* @Date:   2015-12-30 21:49:59
* @Last Modified by:   shunjinchan
* @Last Modified time: 2016-01-23 16:09:12
*/

.page-container h2 {
    /*margin: 10px 15px 5px 15px;*/
}

.demo > div {
    margin: 10px 15px;
    font-size: 16px;
}

.popup-list .popup-body {
    position: static;
    padding-top: 54px;
    padding-bottom: 54px;
}

.popup-top .popup-body {
    position: static;
}

#page-tab .tab {
    margin-bottom: 40px;
}

#page-icon .page-content {
    padding: 20px;
}

.icon_lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icon_lists li {
    margin: 0 10px 20px 10px;
    text-align: center;
}

.icon_lists .icon {
    font-size: 42px;
    line-height: 100px;
    margin: 10px 0;
    color: #333;
    -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
    transition: font-size 0.25s ease-out 0s;
}

.icon_lists .icon:hover {
    font-size: 100px;
}
