@charset "UTF-8";

//----------------------------------------------------- 
// variables scss
//----------------------------------------------------- 

@import "ext/_mixin.scss";
@import "ext/_border-mixin.scss";


// font相关
//----------------------------------------------------- 
$fontSize:                       14px !default; 
$fontLineHeight:                 1.5 !default;
$fontFamily:                     "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif !default;

// 背景色，文本色，边框色，链接色
//----------------------------------------------------- 
$colorText:                      #222 !default;
$colorBg:                        #f3f4f5 !default;
$colorBorder:                    #dbdbdb !default;
$colorLink:                      #08c !default;
$colorPlaceholder:               #999 !default; // input placeholder color
$colorDisabled:                  #999 #e3e3e3 #dbdbdb !default; // textColor bgColor borderColor


$primary:                        #222 !default; // 主色调，暂定黑色


// z-index
//----------------------------------------------------- 
$zindex-dropdown:          1000 !default;
$zindex-navbar-fixed:      1020 !default;
$zindex-backdrop:          1030 !default;
$zindex-popup:             1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-dialog:            1070 !default;
$zindex-loader:            1080 !default;
$zindex-toast:             1090 !default;
